*.class

/nbproject/private/
/nbbuild/


*~

*.lock

*.DS_Store

*.swp

*.out
build
/abc123pig/nbproject/private/
/Pumpkin/nbproject/private/
/Pumpkin/dist/
/Example/nbproject/private/
/LatticePaths/nbproject/private/
/aa/nbproject/private/
/Seven/nbproject/private/
/Wat/nbproject/private/
/MotorControlTest/nbproject/private/